.add-btn{
    width: 60px;
    border-radius: 10px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    background-color: #00ff84;
    cursor: pointer;
}
.list{
    margin: 8px;
}
.list ul{

}
.li{
    display: flex;
    list-style: none;
}
.item{
    width: 90%;
    margin: 5px;
    background-color: #17e6ff;
    border-radius: 10px;
}
.delete-btn{
    width: 60px;
    border-radius: 10px;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    background-color: #ff505f;
}
.formCont{

    background-color: #ecff6b;
    padding: 10px;
    height: 20vh;
    border-radius: 10px;
}
.listCont{
    background-color: #bcff53;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
